.container
  %h3= t('edit_product')
  %br
  = form_for @product, url: update_product_path(@product), method: :post do |f|
    - if @product.errors.any?
      #error_explanation
        %ul
          - @product.errors.full_messages.each do |msg|
            %li.text-red= msg

    .form-group.row.m-0
      = f.label t('family'), {class: 'col-2 col-form-label'}
      = f.select(:family_id, @families.collect {|family| [family.name, family.id]}, {}, {class: 'form-control col-10'})

    -#- @product.product_attribute_values.each do |pav|
    -#  .form-group.row.m-0
    -#    = f.label pav.attribute_id, {class: 'col-2 col-form-label'}
    -#    = f.select(:value_id, pav.attribute_value.collect {|family| [family.name, family.id]}, {}, {class: 'form-control col-10'})

    -#.form-group.row.m-0
    -#  = f.label t('upload_photo'), {class: 'col-2 col-form-label'}
    -#  = f.file_field(:attachments, {multiple: true, direct_upload: true, class: 'form-control col-10'})

    %br
    %button.btn.btn-primary{type: 'submit'}= t('save')